.Calculator {
  min-width: 500px;
  margin: auto;
}

.Result {
  width: 100%;
  text-align: right;
  font-size: xx-large;
  font-weight: bold;
}

.Board {
  width: 400px;
  display: grid;
}

.Board--Simple {
  grid-template-columns: 25% 25% 25% 25%;
}

.Board--Scientific {
  grid-template-columns: 20% 20% 20% 20% 20%;

}

.Board-Cell {
  margin: 3%;
  font-size: 2em;
  display: table-cell;
}
